*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}



.navbar
{
margin-left: -8px;
  background-color: black;
  display: flex;
  width:100%;
  flex:1;
  height:80px;
position: fixed;
  justify-content: space-around;

}

.logo
{




}

.dropdowns
{
  display: flex;
  align-items: center;


}

.dropdowns>div>a{

  color: white;
  text-transform: uppercase;
  text-decoration: none;
  margin:10px;
}

.dropdowns>div:hover{
  display: flex;
align-items: center;
  height: 100%;
  background-color: rgb(25, 188, 194);
}

.background-image{
  background-repeat: no-repeat;
  background-size: 100% 100%;
display: flex;


  background-image: url("lib/background.jpeg");
  height: 525px;

  margin: 0px;
  padding: 0px;
  margin-bottom: 0px;
}



.about{
  display: flex;

padding-left: 100px;
  color:rgb(94, 94, 94);
  background-color: rgb(242, 242, 242);
  height: 100px;
justify-content: flex-start;
align-items: center;
}

.about>h4{
  margin-left: auto;
  margin-right: 100px;

}




.abtc{
  display: flex;
flex-direction: column;
background-color: rgb(245, 245, 245);
align-items: center;
flex-basis: 1;
}

.abtc>div{
display:flex;
  justify-content: center;

  width:50%;
}

.abtc>div>button{
  font-size: 20px;
  font-family: sans-serif;
  font-weight:bold;
  background-color: rgb(120, 219, 226);
  margin-bottom: 50px;
  padding: 15px;
  color: white;
}

.abtc>div>button:hover{
  background-color: rgb(105,105,105);
}


.pic{
margin-top: 2%;
  display: flex;
  justify-content: center;

}


.mobile{

max-width: 27%;
margin-right: 2%;
  display: flex;
  flex-direction: column;
    align-items:   center;

}

.layout{
  max-width: 27%;

    align-items:   center;
  display: flex;
  flex-direction: column;
  margin-left: 2%;

}



.color{
  max-width: 27%;

  align-items:   center;
  display: flex;
  flex-direction: column;

}

.cont2{

  display:flex;
  flex-direction: column;
  align-items: center;
background-color: rgb(245, 245, 245);
padding-left: 30%;
padding-right: 30%;
padding-top: 5%;
padding-bottom: 5%;
margin-top: 2%;

}

h2{
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}



p{
  
}
