

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  html{
    font-size: 63%;
  }
  
  
  
  
  body{
    font-style: "Lato" ,san-serif;
     font-weight: 400;
     font-size: 1.6rem;
     line-height: 1.7;
     color: #777;
    }
  
  header{
    height: 95vh;
  
    background-image:linear-gradient(to bottom right ,hsla(111, 54%, 63%, 0.8),hsla(159, 63%, 43%, 0.8)),url("images/hero.jpg");
  position: relative;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: top;
  clip-path: polygon(0% 0%,100% 0%,100% 75vh ,0% 100%);
  }
  
  
  .logo-box{
    position:absolute;
    top:4rem;
    left:4rem;
  
  }
  
  .logo{
    height: 4rem;
  
  }
  
  .textbox{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
  
  
  }
  
  .heading{
    color:white;
    backface-visibility: hidden;   /*it is to avoid shakiness in animation */
  }
  
  
  .mainhead{
    display: block;
    font-size:6rem;
    letter-spacing:5.1rem;
    font-weight: 700;
    animation: moveright;
    animation-duration: 2s;
  animation-timing-function: ease-out; /* shows how fast and slow the animation will go it is fast at beg and slow at end  */
  }
  
  
  .subhead{
    display: block;
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 1.7rem;
  
  animation: moveleft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  margin-bottom: 5rem;
  
  }
  
  
  
  
  @keyframes moveright {
    0%{
      opacity:  0;
      transform: translateX(-40%);
    }
  
  70%{
    opacity: 0.7;
    transform: translateX(2rem);
  }
  
  
  100%{
    opacity: 1;
    transform: translateX(0%);
  }
  
  }
  
  
  
  @keyframes moveleft {
    0%{
      opacity:  0;
      transform: translateX(4rem);
    }
  
  70%{
    opacity: 0.7;
    transform: translateX(-2rem);
  }
  
  
  100%{
    opacity: 1;
    transform: translateX(0%);
  }
  
  }
  
  
  
  
  
  
  .btn{
    border-radius: 10rem;
    padding: 1.5rem 4rem;
  text-decoration: none;
  transition: all 0.2s ;   /* alternative of @keyframes animation it makes transition smooth and not abrupt changes */
  display: inline-block;
  animation-fill-mode: backwards;
  font-size: 3rem;
  }
  
  
  .btn:hover{
  transform: translateY(-3px);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  
  }
  
  
  .btn:active{
  transform: translateY(1px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  
  }
  
  
  
  
  .btn-white{
  
    background-color: white;
    color:#777;
  }
  