.u-center{
    text-align: center;

   
}

.bottom-margin-big{
margin-bottom: 8rem;
}

.bottom-margin-small{
    margin-bottom: 1rem;
}


.top-margin-big{
    margin-top:8rem;

}
.top-margin-small{
    margin-top: 5rem;
}


