.row{
    max-width: $row-maxwidth;
    margin:0px auto;
    height: auto ;
@include clearfix;


}





.col-1{

width: calc((100% - #{$gutter-horizontal})/2);
height:inherit;
margin-right: $gutter-horizontal;
float: left;

&:last-child{
    margin-right: 0rem;
}

}


.col-1-of-4{
    width: calc((100%-#{$gutter-horizontal*3})/4);
    float :left;
}


